/*p {
	font-size: 20px;
}
li {
	padding-right: 20px;
	margin-right: 20px;
	display: inline-block;
}
img {
	padding: 20px;
	height: 320px;
	max-width: 400px;
	position: relative;

}*/

@media only screen and (max-width: 480px) {
	body{
		background-color: lightblue;
	}
}

@media only screen and (max-width: 1024px) {
	body{
		background-color: pink;
	}
}
body {
	display: inline-block;
	background-color: beige;
	min-width: 300px;
	max-width: 1024px;
	margin-left: auto;
	margin-right: auto;
}
h1,ul,li,main,aside,footer {
	border: solid 1px #000;
	margin: 3px;
}
main {
	width: 70%;
	display: inline-block;
	border: 0px;
}

aside {
	width: 26%;
	display:inline-block;
	vertical-align: top;
	border:0px;

}
ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	text-align: center;
	border: 0px;
	
}

ul li {
	display: inline-block;
	width: 35%;
	margin: 3px;
}
h1 {
	display: inline-block;
	border: 0px;
}
footer {
	display: inline-block;
	border: 0px;
}
body {
	background-image: url("http://yesofcorsa.com/bamboo-forest");
	background-attachment: fixed;
}

.container{ /* This is a class for my container*/
   display: grid;
   grid-template-columns:40px 50px auto 50px 40px;
   grid-template-rows: 25% 100px auto;
}
.Aboutme {
	text-align:center;
}
.parallax-section {
    background-image: url("https://pbs.twimg.com/media/CdlFCYmXIAAGkiH.jpg");
    background-attachment: fixed;
    min-height: 500px; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
}